<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Donorschoose Dashboard</a>
      </div>
    </div>
  </div>

  <!-- Mean Chart -->
  <h2>Players mean</h2>

  <div class="row">
      <div id="mean-chart" class="dc-chart">
          <strong>Yearly Performance</strong> (radius: fluctuation/index ratio, color: gain/loss)
          <a class="reset" href="javascript:yearlyBubbleChart.filterAll();dc.redrawAll();"
             style="display: none;">reset</a>

          <div class="clearfix"></div>
      </div>
  </div>
  <!-- Mean Chart -->


  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/colorbrewer.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script src="./static/js/charts.js" type='text/javascript'></script>
</body>
</html>
